<html>
<head>
    <title>Hello world</title>
</head>
<body>
    <ul id="list"></ul>
    <script>
        var evtSource = new EventSource('sse');
        console.log(evtSource.readyState);
        console.log(evtSource.url);
        var eventList = document.getElementById('list');

        evtSource.onopen = function () {
            console.log("Connection to server opened.");
        };
        evtSource.onmessage = function (e) {
            console.log("Received", e.data);
            var newElement = document.createElement("li");
            newElement.textContent = e.data;
            eventList.appendChild(newElement);
        }
        evtSource.onerror = function () {
            console.log("EventSource failed.");
        };
    </script>
</body>
</html>