<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Log Server</title>
    <style>
        body {
            background-color: #193F47;
            color: white;
        }

        .row {
            margin-bottom: .2em;
        }

        .time {
            display: inline-block;
            width: 85px;
            text-align: right;
        }

        .badge {
            width: 80px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
</head>
<body>
    <div id="logs" class="content-fluid p-1"></div>
    <script>
        const badge = level => {
            switch (level) {
                case 'Fatal':
                case 'Error':
                    return '<span class="badge badge-danger mr-2">' + level + '</span>';
                case 'Warning':
                    return '<span class="badge badge-warning mr-2">' + level + '</span>';
                case 'Information':
                    return '<span class="badge badge-info mr-2">' + level + '</span>';
                default:
                    return '<span class="badge badge-secondary mr-2">' + level + '</span>';
            };
        }

        const template = data => {
            const t = '<div class="row">'
                + '<div class="col-sm-2">'
                + '<span class="time font-weight-light mr-2">' + moment(data.Timestamp).format('LTS') + '</span>'
                + badge(data.Level)
                + '<span class="font-weight-bold">' + data.Properties.Application + '</span>'
                + '</div>'
                + '<div class="col-sm-10">' + data.RenderedMessage + '</div>'
                + '</div>'.trim();

            var template = document.createElement('template');
            template.innerHTML = t;
            return template.content.firstChild;
        }

        var evtSource = new EventSource('sse');
        console.log(evtSource.readyState);
        console.log(evtSource.url);
        var eventList = document.getElementById('logs');

        evtSource.onopen = function () {
            console.log("Connection to server opened.");
        };

        evtSource.onmessage = function (e) {
            eventList.appendChild(template(JSON.parse(e.data)));
            document.body.scrollTop = document.body.scrollHeight;
        }

        evtSource.onerror = function () {
            console.log("EventSource failed.");
        };
    </script>
</body>
</html>